In [24]:
import os
import pandas as pd

In [33]:
dataset_name = "combined_dataset.csv"
df = pd.read_csv(dataset_name)
df

ParserError: Error tokenizing data. C error: Expected 10 fields in line 3, saw 11

In [44]:
dataset_name = "cleaned_datasets\\euromillions_4.csv"
df1 = pd.read_csv(dataset_name, encoding='ISO-8859-1', sep=';', index_col=False)
df1

,annee_numero_de_tirage,jour_de_tirage,date_de_tirage,numéro_de_tirage_dans_le_cycle,date_de_forclusion,boule_1,boule_2,boule_3,boule_4,boule_5,...,nombre_de_gagnant_au_rang7_Etoile+,rapport_du_rang7_Etoile+,nombre_de_gagnant_au_rang8_Etoile+,rapport_du_rang8_Etoile+,nombre_de_gagnant_au_rang9_Etoile+,rapport_du_rang9_Etoile+,nombre_de_gagnant_au_rang10_Etoile+,rapport_du_rang10_Etoile+,numero_My_Million,numero_Tirage_Exceptionnel_Euro_Millions
0,2016078,MARDI,27/09/2016,1,27/11/2016,41,6,13,39,9,...,3205,"4,1",5098,"16,9",17703,"2,2",144546,"2,9",AZ3618164,NaN
1,2016079,VENDREDI,30/09/2016,Super Jackpot et tirages suivants,30/11/2016,35,44,17,37,43,...,16512,"2,7",28806,"10,2",58056,"2,3",589163,"2,4",NX3824249,NaN
2,2016080,MARDI,04/10/2016,Super Jackpot et tirages suivants,04/12/2016,4,38,7,14,34,...,10108,"3,2",16009,13,49759,"1,9",371589,"2,7",PW2355387,NaN
3,2016081,VENDREDI,07/10/2016,Super Jackpot et tirages suivants,07/12/2016,12,30,27,20,2,...,11840,"3,4",19471,"13,6",62411,"1,9",469756,"2,7",MT7347219,NaN
4,2016082,MARDI,11/10/2016,1,11/12/2016,12,37,20,24,5,...,10849,3,17028,"12,7",50933,"1,9",385408,"2,7",EB5173347,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,2019013,MARDI,12/02/2019,Super Jackpot et tirages suivants,14/04/2019,34,36,50,41,6,...,7303,"2,9",14312,"9,6",23465,"2,6",290827,"2,3",BT1634045,NaN
249,2019014,VENDREDI,15/02/2019,Super Jackpot et tirages suivants,17/04/2019,49,38,27,34,15,...,9774,"2,7",17189,"10,2",35081,"2,2",343560,"2,5",PU3599819,NaN
250,2019015,MARDI,19/02/2019,1,21/04/2019,19,8,18,1,39,...,11725,"1,9",17991,"8,1",40335,"1,6",301168,"2,3",JJ8640420,NaN
251,2019016,VENDREDI,22/02/2019,2,24/04/2019,50,33,29,3,27,...,13776,"1,3",20269,"5,8",30397,"1,7",254837,"2,2",CC7291615,NaN
252,2019017,MARDI,26/02/2019,3,28/04/2019,29,47,15,3,35,...,4533,"2,9",7265,"11,9",20476,"1,9",187465,"2,2",OH8914531,NaN

In [45]:
col_order=['annee_numero_de_tirage','jour_de_tirage','date_de_tirage','date_de_forclusion','boule_1','boule_2','boule_3','boule_4','boule_5','etoile_1','etoile_2','boules_gagnantes_en_ordre_croissant','etoiles_gagnantes_en_ordre_croissant']
col_to_remove = []

In [46]:
for toto in df1.columns:
    if toto not in col_order:
        col_to_remove.append(toto)
print(col_to_remove)

['numéro_de_tirage_dans_le_cycle', 'nombre_de_gagnant_au_rang1_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang1_Euro_Millions_en_europe', 'rapport_du_rang1_Euro_Millions', 'nombre_de_gagnant_au_rang2_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang2_Euro_Millions_en_europe', 'rapport_du_rang2_Euro_Millions', 'nombre_de_gagnant_au_rang3_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang3_Euro_Millions_en_europe', 'rapport_du_rang3_Euro_Millions', 'nombre_de_gagnant_au_rang4_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang4_Euro_Millions_en_europe', 'rapport_du_rang4_Euro_Millions', 'nombre_de_gagnant_au_rang5_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang5_Euro_Millions_en_europe', 'rapport_du_rang5_Euro_Millions', 'nombre_de_gagnant_au_rang6_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang6_Euro_Millions_en_europe', 'rapport_du_rang6_Euro_Millions', 'nombre_de_gagnant_au_rang7_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang7_Euro_Millions_en_europe', 'rapport_du_rang7_Euro_Millions', 'nombre_de_gagnant_au_rang8_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang8_Euro_Millions_en_europe', 'rapport_du_rang8_Euro_Millions', 'nombre_de_gagnant_au_rang9_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang9_Euro_Millions_en_europe', 'rapport_du_rang9_Euro_Millions', 'nombre_de_gagnant_au_rang10_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang10_Euro_Millions_en_europe', 'rapport_du_rang10_Euro_Millions', 'nombre_de_gagnant_au_rang11_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang11_Euro_Millions_en_europe', 'rapport_du_rang11_Euro_Millions', 'nombre_de_gagnant_au_rang12_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang12_Euro_Millions_en_europe', 'rapport_du_rang12_Euro_Millions', 'nombre_de_gagnant_au_rang13_Euro_Millions_en_france', 'nombre_de_gagnant_au_rang13_Euro_Millions_en_europe', 'rapport_du_rang13_Euro_Millions', 'nombre_de_gagnant_au_rang1_Etoile+', 'rapport_du_rang1_Etoile+', 'nombre_de_gagnant_au_rang2_Etoile+', 'rapport_du_rang2_Etoile+', 'nombre_de_gagnant_au_rang3_Etoile+', 'rapport_du_rang3_Etoile+', 'nombre_de_gagnant_au_rang4_Etoile+', 'rapport_du_rang4_Etoile+', 'nombre_de_gagnant_au_rang5_Etoile+', 'rapport_du_rang5_Etoile+', 'nombre_de_gagnant_au_rang6_Etoile+', 'rapport_du_rang6_Etoile+', 'nombre_de_gagnant_au_rang7_Etoile+', 'rapport_du_rang7_Etoile+', 'nombre_de_gagnant_au_rang8_Etoile+', 'rapport_du_rang8_Etoile+', 'nombre_de_gagnant_au_rang9_Etoile+', 'rapport_du_rang9_Etoile+', 'nombre_de_gagnant_au_rang10_Etoile+', 'rapport_du_rang10_Etoile+', 'numero_My_Million', 'numero_Tirage_Exceptionnel_Euro_Millions']

In [47]:
df1 = df1.drop(columns=[col for col in col_to_remove], errors='ignore')
df1

,annee_numero_de_tirage,jour_de_tirage,date_de_tirage,date_de_forclusion,boule_1,boule_2,boule_3,boule_4,boule_5,etoile_1,etoile_2,boules_gagnantes_en_ordre_croissant,etoiles_gagnantes_en_ordre_croissant
0,2016078,MARDI,27/09/2016,27/11/2016,41,6,13,39,9,2,12,-6-9-13-39-41-,-2-12-
1,2016079,VENDREDI,30/09/2016,30/11/2016,35,44,17,37,43,10,2,-17-35-37-43-44-,-2-10-
2,2016080,MARDI,04/10/2016,04/12/2016,4,38,7,14,34,4,11,-4-7-14-34-38-,-4-11-
3,2016081,VENDREDI,07/10/2016,07/12/2016,12,30,27,20,2,11,9,-2-12-20-27-30-,-9-11-
4,2016082,MARDI,11/10/2016,11/12/2016,12,37,20,24,5,4,11,-5-12-20-24-37-,-4-11-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,2019013,MARDI,12/02/2019,14/04/2019,34,36,50,41,6,1,5,-6-34-36-41-50-,-1-5-
249,2019014,VENDREDI,15/02/2019,17/04/2019,49,38,27,34,15,2,10,-15-27-34-38-49-,-2-10-
250,2019015,MARDI,19/02/2019,21/04/2019,19,8,18,1,39,9,7,-1-8-18-19-39-,-7-9-
251,2019016,VENDREDI,22/02/2019,24/04/2019,50,33,29,3,27,7,3,-3-27-29-33-50-,-3-7-
252,2019017,MARDI,26/02/2019,28/04/2019,29,47,15,3,35,4,3,-3-15-29-35-47-,-3-4-

In [48]:
output_file = f'euromillions_4_cleaned_b.csv'
df1.to_csv(output_file, index=False, sep=';')
print(f"Le fichier CSV nettoyé et réorganisé a été sauvegardé sous le nom : {output_file}")

Le fichier CSV nettoyé et réorganisé a été sauvegardé sous le nom : euromillions_4_cleaned_b.csv